@{
    ViewBag.Title = "API DOC";
}
<section>
    <h1> This is TypeIt Dialing API takes care of all the dialing functions for the app.</h1>
    Home/Panic  ***Call Panic will send the panic message hardcoded to alfredo's phone</><br/>
    Home/RequestNewContent  ***Makes a call to request for new content</a><br/>
    Home/ManageSms  ***Called by twilio number handler to update the blob for what topic we should be using</><br/>
    Home/RequestForNewContent/1     ***Request for user 1 what content should be showing this needs to be polled from the ui</><br/>
    Home/Clean   ***Resets the blob storage</><br/>
</section>